# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/.playwright-cli/

# Allure
allure-results/
allure-report/

playwright/.auth
# Playwright CLI output (may contain credentials)
.playwright-cli/
